@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Young+Serif&display=swap');

img {
  display: block;
  max-width: 100%;
}

:root {
  /*  fonts  */
  --ff-title: 'Young Serif', serif;
  --ff-body: 'Outfit', sans-serif;
  /*  colors  */
  --fc-title1: hsl(24, 5%, 18%);
  --fc-title2: #964b00;
  --fc-title3: #702963;
  --fc-body: hsl(30, 10%, 34%);
  /*  bg colors  */
  --bg-pink: #fff0f5;
  --bg-gray: #e5e4e2;
}

/* reusable styles */
.bold {
  font-weight: 700;
  color: var(--fc-title1);
}

.main-header {
  font-family: var(--ff-title);
  font-weight: 400;
  font-size: 2rem;
  color: var(--fc-title1);
}

.secondary-header {
  font-family: var(--ff-title);
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--fc-title2);
}

.tertiary-header {
  font-family: var(--ff-body);
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--fc-title3);
}

/* global styles */
li {
  margin: 0.5rem;
  padding-left: 1rem;
}

li::marker {
  color: var(--fc-title2);
  font-weight: bold;
}

hr {
  border: none;
  height: 2px;
  background: var(--bg-gray);
  margin: 2rem 0;
}

/* page styling */
body {
  min-height: 100vh;
  background-color: #f7e7ce;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--fc-body);
}

main {
  padding: 4rem 2rem;
}

.recipe-wrapper {
  max-width: 40rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  /* margin: 2rem 0; */
}

.recipe-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem;
}

.recipe-name {
  margin-bottom: 0;
}

/* preparation section */
.preparation {
  background-color: var(--bg-pink);
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem 0 2rem 0;
}

/* nutrition section */
.grid-2cl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-2cl .nutrition-title {
  padding-left: 2rem;
}

.grid-2cl .nutrition-value {
  padding-left: 2rem;
  font-weight: bold;
  color: var(--fc-title2);
}

.nutrition hr {
  margin: 0;
}
